<html>
    <head></head>
    <body>
        <h1>Add Student Details</h1>
        <form method='POST' action='/add-student'>
            <input type='text' name='studentName' />
            <input type='text' name='studentAge' />
            <button type='submit'>Add Student</button>
        </form>
    </body>
</html>