<html>
    <head></head>
    <body>
       
        {{#studentsKey}}
            <h1>List of students (If exists)</h1>
                {{regNo}} - {{branch}} - {{address.street}} ({{address.zipCode}})
                <br>
        {{/studentsKey}}

        {{^studentsKey}}
            No students exist (If do not exist).
        {{/studentsKey}}

    </body>
</html>