<html>
    <head></head>
    <body>
        <h1>List of students</h1>
        {{#studentsKey}}
            {{regNo}} - {{branch}} - {{address.street}} ({{address.zipCode}})
            <br>
        {{/studentsKey}}

    </body>
</html>